{{!-- Entry template --}}
<article class="entry u-b-b entry-pagination">
	<div class="row">
		{{#if image}}
		<figure class="col s12 entry-image">
			<a class="entry-image--link" href="{{url}}">
				<img  class="u-h-a-lg" src="{{image}}" alt="{{title}}"/>
				<span class="entry-image--bg u-h-b-lg" style="background-image:url({{image}})"></span>
				{{#has tag="#video-post-format"}}<span class="entry-video-play i-play"></span>{{/has}}
			</a>
		</figure>
		{{/if}}

		<div class="col s12 {{#if image}}entry-body{{/if}}">								
								
				<h2 class="entry-title home-header"><a href="{{url}}" title="{{title}}">{{title}}</a></h2>
															
				<div class="post-body">{{content}}</div>				
				<div class="entry-byline">
					<time class="entry-timeago timestamp" datetime="{{date format='YYYY-MM-DD'}}">{{date published_at format="MMMM DD, YYYY"}}</time> - 
					<span class="home-tags">
						posted in {{tags limit="1"}} - 
					</span>	
					<i class="i-chat"></i>
					<a class="entry-comments" href="{{url}}#post-comments">
						{{!-- Disqus Comments Count --}}
						<span class="disqus-comment-count mapache-disqus" data-disqus-url="{{url absolute="true"}}">0</span>
						{{!-- Facebook Comments Counts --}}
						<span class="fb-comments-count mapache-facebook" data-href="{{url absolute="true"}}">0</span>
						<span>Comments</span>
					</a>
								
				</div>	
				{{#prev_post}}
					<span class="home-prev-next"><a href="{{url}}"><i class="fa fa-chevron-left" title="{{date published_at format="MM/DD/YYYY"}} - {{title}}"></i>&nbsp;&nbsp;View Previous</a></span>
				{{/prev_post}}			
		</div>
	</div>
</article>
